extends ../layout
block imports-main
  link(type="text/css" rel="stylesheet" href="/static/main/document/style.css")

block content-main
    .row
      .col-auto
        a(href=`${previousPage}`)
          .back-button Go Back
    if success === '1'
      .row
        .col-8.offset-2
          .outcome-msg.success-msg The document was updated succesfully.
    else if success === '0'
      .row
        .col-8.offset-2
          .outcome-msg.error-msg There was an error updating the document
    form(id="doc-form" method="POST")
      .row
        .col-12
      .row.document-details
        .col-12
          each field in document.fieldList
            .row.property
              .col-2.field= field.key.prettyTitleCase()
              .col-8.value
                - var disabledInput = (field.inputType!=='text' && field.inputType!=='number')
                - var inptValue = field.inputType==='date' ? document.data[field.key].toISOString().substr(0, 10) : document.data[field.key]
                input.value-input(name=field.key disabled=disabledInput type=`${field.inputType}` value=inptValue step="1")
      .row
        .col-auto.offset-2
          button.save-but(type="submit" disabled=false) Save changes