.row.flex-nowrap.document-container
  if collection.documents.length <= 0
    .col No results
  each field in collection.fieldList
    .col.field-doc-col
      .row.sort-cont
        .col-12.container-cell.document-field= field.key.prettyTitleCase()
        .col-12
          if (field.type !== 'Object' && field.type !== 'ComplexArray' && field.type !== 'Mixed' && field.type !== 'SimpleArray' && field.type !== 'Date' && field.type !== 'Boolean')
            - var inputVal = inputValues[field.key];
            - var sortPrefix = "sort--"
            - var inputSortVal = inputValues[sortPrefix + field.key];
            input(name=`${field.key}` type="text" value=`${inputVal?inputVal:''}`)
        div(class=`col-12 sort-arrow align-self-center sort${inputSortVal}`)
          input(id=`${sortPrefix + field.key}` class="sort-input" name=`${sortPrefix + field.key}` type="hidden" value=`${inputSortVal?inputSortVal:''}`)
          span.sort-function.sort-asc(onclick=`sort('${field.key}', -1)`)
            i.fas.fa-arrow-up
          span.sort-function.sort-desc(onclick=`sort('${field.key}', 1)`)
            i.fas.fa-arrow-down
      each document in collection.documents
        .row
          - var keyValue = document[field.key];
          if field.key === '_id'
            a(href=`${currentRoute}/documents/${keyValue}`)
              .col-12.container-cell.document-id= keyValue
          else
            .col-12.document-value.container-cell
              if (field.type === 'Object' || field.type === 'ComplexArray' || field.type === 'Mixed')
                span.italic ( View entry detail )
              else if (keyValue !== null && keyValue !== undefined) && (field.type !== 'Array')
                span=keyValue
              else if (field.type === 'SimpleArray')
                - var arrayVal = keyValue.length > 0 ? keyValue.join(', ') : 'No data'
                span=arrayVal
              else
                span.italic No data