extends ../layout
block imports-main
  link(type="text/css" rel="stylesheet" href="/static/main/collection/style.css")
  script(src="/static/main/collection/script.js" defer)

block content-main
  - var currentRoute = `/main/${databaseName}/${collection.name}`
  .row
    .col-auto
      a(href=`/main/${databaseName}?${collectionQuery}`)
        .back-button Go Back
  .row
    h4.col= collection.name.prettyTitleCase()
  .row
    .col-auto
      a(href=`${currentRoute}/create?`)
        button.app-button(type="button") Create entry
  form(id="col-form" method="GET")
    .row
      .col-auto
        button.app-button.secondary-but(type="submit") Apply filters
      .col-auto
        button.app-button.secondary-but(formaction=`${currentRoute}/reset/1` type="submit") Reset filters
    .row
      .col-12 Click on an Id to view and edit the entry
    include ./collection-table.pug
    
    - var disabledPrevious = inputValues.page==1 || !inputValues.page
    - var disabledNext = collection.documents.length < 50
    if collection.count
      .row.paginate-buttons
        .col-auto
          nav(aria-label="Page navigation example")
            ul.pagination
              li.page-item
                button.page-link(formmethod="GET" formaction=`${currentRoute}/page/${(Number(inputValues.page)-1)}` type="submit" disabled=disabledPrevious) Previous
              - for (var x = 0; x < collection.count; x+=50)
                  li.page-item
                    button.page-link(formmethod="GET" formaction=`${currentRoute}/page/${x/50+1}` type="submit")=(x/50)+1

              li.page-item
                button.page-link(formmethod="GET" formaction=`${currentRoute}/page/${(Number(inputValues.page)+1)}` type="submit" disabled=disabledNext) Next
    else
      .row.paginate-buttons
        .col-auto
          button.app-button.secondary-but(formmethod="GET"
          formaction=`${currentRoute}/page/${(Number(inputValues.page)-1)}` type="submit" disabled=disabledPrevious) Previous
        .col-auto
          button.app-button.secondary-but(formmethod="GET"
          formaction=`${currentRoute}/page/${(Number(inputValues.page)+1)}` type="submit" disabled=disabledNext) Next
      