extends ../layout
block imports-main
  link(type="text/css" rel="stylesheet" href="/static/main/collection/style.css")
  script(src="/static/main/collection/script.js" defer)
  script var collectionCount = !{JSON.stringify(collection.count).replace(/<\//g, '<\\/')}
  script var page = !{JSON.stringify(inputValues.page).replace(/<\//g, '<\\/')}
  script var currentRoute = `/main/databases/${!{JSON.stringify(databaseName)}}/collections/${!{JSON.stringify(collection.name)}}`

block content-main
  - var currentRoute = `/main/databases/${databaseName}/collections/${collection.name}`
  .row
    .col-auto
      a(href=`/main/databases/${databaseName}`)
        .back-button Go Back
  .row
    h4.col= collection.name.prettyTitleCase()
  .row
    .col-auto
      a(href=`${currentRoute}/create?`)
        button.app-button(type="button") Create entry
  form(id="col-form" method="GET")
    .row
      .col-auto
        button.app-button.secondary-but(type="submit") Apply filters
      .col-auto
        button.app-button.secondary-but(formaction=`${currentRoute}/reset/1` type="submit") Reset filters
    .row
      .col-12 Click on an Id to view and edit the entry
    include ./collection-table.pug
    
    - var disabledPrevious = inputValues.page==1 || !inputValues.page
    - var disabledNext = collection.documents.length < 50
    if collection.count
      .row.paginate-buttons
        #pagination-container.col-auto
          
    else
      .row.paginate-buttons
        .col-auto
          button.app-button.secondary-but(formmethod="GET"
          formaction=`${currentRoute}/page/${(Number(inputValues.page)-1)}` type="submit" disabled=disabledPrevious) Previous
        .col-auto
          button.app-button.secondary-but(formmethod="GET"
          formaction=`${currentRoute}/page/${(Number(inputValues.page)+1)}` type="submit" disabled=disabledNext) Next
      