extends ../layout
block imports-main
  link(type="text/css" rel="stylesheet" href="/static/main/collection/style.css")
  script(src="/static/main/collection/script.js" defer)

block content-main
  - var currentRoute = `/main/${databaseName}/${collection.name}`
  .row
    .col-auto
      a(href=`/main/${databaseName}`)
        .back-button Go Back
  form(id="col-form" method="GET")
    .row
      h4.col= collection.name.prettyTitleCase()
    .row
      .col-auto
        button.filter-but(type="submit") Apply filters
      .col-auto
        button.filter-but(formaction=`${currentRoute}/reset/1` type="submit") Reset filters
    .row
      .col-12 Click on an Id to view and edit the entry
    include ./collection-table.pug
    .row.paginate-buttons
      - var disabledPrevious = inputValues.page==0 || !inputValues.page
      - var disabledNext = collection.documents.length < 30
      .col-auto
        button.paginate-but(formmethod="GET"
         formaction=`${currentRoute}/page/${(Number(inputValues.page)-1)}` type="submit" disabled=disabledPrevious) Previous 30
      .col-auto
        button.paginate-but(formmethod="GET"
         formaction=`${currentRoute}/page/${(Number(inputValues.page)+1)}` type="submit" disabled=disabledNext) Next 30